[submodule "themes/hugo-theme-slim"]
	path = themes/hugo-theme-slim
	url = https://github.com/zhe/hugo-theme-slim
[submodule "themes/hugo-theme-cactus-plus"]
	path = themes/hugo-theme-cactus-plus
	url = https://github.com/nodejh/hugo-theme-cactus-plus
[submodule "themes/gohugo-theme-ananke"]
	path = themes/gohugo-theme-ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
