/* Custom CSS for the PaperMod theme */
/* by Jack MapelLentz (https://jltml.me) */

@include "fonts.css";

body {
  font-family: Brandon-Grotesque;
}

.entry-cover, .entry-cover * {
  max-height: 250px;
}

.entry-cover * {
  object-fit: cover;
}
